@import url('/assets/css/fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

* {
    font-family: 'Raleway-Light';
}

html,
body {
    background: #001220;
    height: 100%;
    width: 100%;
    color: #fff;
    margin: 0px;
}

.nav {
    display: flex;
    height: 70px;
    justify-content: left;
    overflow: hidden;
    transition: .5s;
    background-color: #001220;
}

.nav.is-sticky {
    top: 0;
    position: sticky;
}

.nav>.item {
    transition: .5s;
    align-items: center;
    color: #fff;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-decoration: none;
}

.nav>.item:hover {
    background-color: #fff;
    color: #001220;
    text-decoration: none;
}

.nav>.item.is-active {
    background-color: #fff;
    color: #001220;
    text-decoration: none;
}

.nav>.logo {
    height: 50px;
    overflow: hidden;
    padding: 10px;
    width: 50px;
}

.nav>.logo>img {
    height: 50px;
}

.header {
    height: 55%;
    width: 100%;
    background-image: url('/assets/img/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0 0 0;
    position: absolute;
}

.header>h1 {
    font-size: 50px;
    text-align: center;
    vertical-align: center;
    font-family: 'Raleway-Black';
}

input {
    background: none;
    font-family: inherit;
    padding: 0px 17px;
    height: 48px;
    border: 1px solid #ffffff33;
    color: #000;
    border-radius: 3px;
    outline: none;
    width: 350px;
    margin-top: 5px;
    border-radius: 50px;
    color: #000;
    transition: .5s;
    margin: auto;
}

input:focus {
    border: 1px solid #fdfdfd83;
    border-radius: 6px;
    box-shadow: 2px 2px 8px #111;
}

input:focus:disabled {
    border-radius: 50px;
}

input:disabled {
    border: 1px solid #ff000083;
    color: #ff000083;
    cursor: not-allowed;
}

input:disabled::placeholder {
    color: #ff000083;
}

input::placeholder {
    transition: .5s;
}

button {
    background: none;
    font-family: inherit;
    padding: 0px 17px;
    height: 48px;
    border: 1px solid #ffffff33;
    color: #000;
    border-radius: 3px;
    outline: none;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 5px;
    border-radius: 50px;
    color: #000;
    transition: .5s;
    cursor: pointer;
}

button:hover {
    border: 1px solid #00000083;
    border-radius: 6px;
    box-shadow: 2px 2px 8px #111;
}

button:hover:disabled {
    border-radius: 50px;
}

button:disabled {
    border: 1px solid #ff000083;
    color: #ff000083;
    cursor: not-allowed;
}